# IDE specific files
.idea/
*.iml

# Spring Boot configuration (if it contains secrets)
**/src/main/resources/application.properties
**/src/main/resources/application.yml
**/src/main/resources/application-*.properties
**/src/main/resources/application-*.yml